
<section class="hero">
  
  <div class="content1">
    <!-- <h2>Header</h2> -->
    <div class = "nav123">
      <ul>
         <li><a class="li123" routerLink="journeyhire"><b>Journey Hire</b></a></li>
         
         <li><a class="active" routerLink="admin"><b>Admin</b></a></li>
         <li><a class="active" routerLink="login"><b>Login</b></a></li>
         <li><a class="active" routerLink="signup"><b>Signup</b></a></li>
         <li><a class="active" routerLink="user"><b>Home</b></a></li>
    
         <li><a href="user"><img src="/assets/images/buslogo.png" width="50px"></a></li>
         
      </ul>
    </div>
    <!-- <p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non</p> -->
    </div>
    
  <div class="waves"></div>
</section>

