<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="social-wrapper">
      <ul>
        <li>
          <a href="https://twitter.com" target="_blank" title="Twitter">
            <img src="https://www.shareicon.net/data/2015/09/21/104706_media_512x512.png" alt="Twitter Logo" class="twitter-icon"></a>
        </li>
        <li></li>
        <li>
          <a href="https://www.instagram.com" target="_blank" title="Instagram">
            <img src="https://images8.design-editor.com/94/9422295/3958%2FAAD427D3-2841-B7CB-699A-DC8C914FB5F5.png" alt="Instagram Logo" class="instagram-icon"></a>
        </li>
        <li></li>
        <li>
            <a href="https://accounts.google.com/" target="_blank" title="Gmail">
              <img src="https://www.freepnglogos.com/uploads/logo-gmail-png/logo-gmail-png-gmail-people-widget-now-lets-brands-highlight-their-10.png" alt="Googleplus Logo" class="googleplus-icon"></a>
          </li>
          <li></li>
        <li>
          <a href="https://www.facebook.com/" target="_blank" title="Facebook">
            <img src="https://findicons.com/files/icons/2728/facebook_icons/512/3d_facebook_f.png" alt="Facebook Logo" class="facebook-icon"></a>
        </li>
      
      </ul>
    </div>
  
    <nav class="footer-nav" role="navigation">
      <p style="margin-top: 20px;">Copyright &copy; 2020 -
        Journey Lines. All rights reserved.</p>
    </nav>
  </footer>
  <!-- #colophon -->
