.s-section.s-text-section .s-repeatable {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
}

.background-image{
    background-attachment: fixed;
}

#intro{
    height:100vh;
}
.center12{
    padding: 34vh 35px !important;
}

@media only screen and (max-device-width: 1366px) {
    .background-image {
      background-attachment: scroll;
    }
  }

.nav123 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav123 li {
    float: left;
  }
  
.nav123 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav123 li a:hover {
    background-color: #111;
  }