.s-section.s-text-section .s-repeatable {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
}

.background-image{
    background-attachment: fixed;
}

#intro{
    height:100vh;
}
.center12{
    padding: 34vh 35px !important;
}

@media only screen and (max-device-width: 1366px) {
    .background-image {
      background-attachment: scroll;
    }
  }

.nav123 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 4;
    position: relative;
  }
  
.li123 {
    float: left;
  }
  
.nav123 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  .nav123 li a:hover {
    background-color: #111;
  }
  .nav123 p a{
    float: left;
  }
.marquee1{
  margin-top: 20px;;
font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.marquee2{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 100px;
}

.image1 {
  display: inline;
  margin-left: 30px;
  margin-top: 100px;
  padding: 0px;
  height: 150px;
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out; 
  // margin-left: 200px;
  // margin-top: 50px;
  // align-self: start;
  
}
.image2{
  margin-left: -600px;
  margin-top: -20px;
  
}
.image3{
  display: inline;
  margin-left: 40px;
  margin-top: 100px;
  padding: 0px;
  height: 150px;
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out; 
}
// img {
//     /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
//     height: 150px;
//       filter: gray; /* IE5+ */
//       -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
//       -webkit-transition: all .8s ease-in-out;  
//     }

    .image1:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.2);
    }

    .image3:hover {
      filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.2);
      }

 

