.s-section.s-text-section .s-repeatable {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
}

.background-image{
    background-attachment: fixed;
}

#intro{
    height:100vh;
}
.center12{
    padding: 34vh 35px !important;
}

@media only screen and (max-device-width: 1366px) {
    .background-image {
      background-attachment: scroll;
    }
  }

.nav123 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 4;
    position: relative;
  }
  
.li123 {
    float: left;
  }
  
.nav123 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  .nav123 li a:hover {
    background-color: #111;
  }
  .nav123 p a{
    float: left;
  }


  .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }