<title>GoodToGo</title>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0' id='viewport' name='viewport'>
<meta content='#ffffff' name='theme-color'>

<link rel="stylesheet" media="screen" href="https://static-assets.strikinglycdn.com/_reset-e86dc20205eb267eb1803edb4281063d0db8db4dde3345771532819dae916332.css"ref="preload" as="style"/>
<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic|Work+Sans:400,600,700|Playfair+Display:400,700,400italic,700italic|Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic&amp;subset=latin,latin-ext"  />
<link rel="stylesheet" media="screen" href="https://static-assets.strikinglycdn.com/themes/perspective/main_v4.97059930a23161632424.bundle.css" ref="preload" as="style" />
<link href='http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,h_64,w_64/ekkr14uso3k2bllhlhg7.png' rel='shortcut icon' type='image/x-icon'>
<link href='/i/pwa/manifest.json' rel='manifest'>
<link href="http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png" rel="apple-touch-icon" sizes="60x60" />
<link href="http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png" rel="apple-touch-icon" sizes="76x76" />
<link href="http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png" rel="apple-touch-icon" sizes="120x120" />
<link href="http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png" rel="apple-touch-icon" sizes="152x152" />
<meta content='Quinnton J Harris on Strikingly' property='og:title'>
<meta content='https://quinntonharris.mystrikingly.com/' property='og:url'>
<meta content='http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png' property='og:image'>
<meta content='Quinnton J Harris' property='og:site_name'>
<meta content='The ever-evolving story of Quinnton Harris' property='og:description'>
<meta content='Quinnton J Harris' itemprop='name'>
<meta content='The ever-evolving story of Quinnton Harris' itemprop='description'>
<meta content='http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png' itemprop='image'>
<meta content='summary_large_image' name='twitter:card'>
<meta content='Quinnton J Harris on Strikingly' name='twitter:title'>
<meta content='The ever-evolving story of Quinnton Harris' name='twitter:description'>
<meta content='http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/fhvg8zls99qkswqvag0j.png' name='twitter:image'>
<meta content='The ever-evolving story of Quinnton Harris' name='description'>
<meta name="strikingly-host-suffix" content="strikingly.com" />
<meta name="support-helper" content="{&quot;permalink&quot;:&quot;quinntonharris&quot;,&quot;id&quot;:11119}" />
<link rel="canonical" href="https://quinntonharris.mystrikingly.com/" />

<script>
var _strk = _strk || []
_strk.push = function(arg1, arg2){
  var _arrayPush = Array.prototype.push.bind(this)
  if (typeof arg1 === 'string' && typeof arg2 === 'function') {
    // Support _strk.push(event, fn) for better UX
    _arrayPush([arg1, arg2])
  } else {
    _arrayPush.apply(this, arguments)
  }
}
window.runAfterDomBinding = {
  add: function(name, fn) {
    _strk.push(['Page.didMount', fn])
  }
}
</script>

<meta name="google-site-verification" content="" />

<!-- CUSTOM_CODE_START -->
<!-- CUSTOM_CODE_END -->

<meta name="asset-url" content="https://static-assets.strikinglycdn.com" />
<script>
  (function() {
    window.$B || (window.$B = {});
  
  }).call(this);
</script>
<script src="https://static-assets.strikinglycdn.com/detectIE-c385c24313ef0e9e4e7a1e131bf5e59f0fbd468f9f9ef44fd6739ae84ef0c0a4.js" async="async"></script>

