<style>

  #bgimage1{
     height: 700px;
     width: 800px;
      margin-top: -7px;
      margin-left: 3px;
     /*margin-left: 5px;
     margin-bottom: 0%; */
   
      background-image: url(../../assets/images/newseat.png);
 /* overflow: hidden; */

  background-position: center;
background-repeat: no-repeat;
background-size: cover;
  /* background-position:50% 50% */
  }
</style>
<body style="background-color: #f5e8da">
<div class="page container" id="bgimage1" >
<div class="plane">
  <div class="cockpit">
    <h4 style="text-align: center; color: black; ">Please select your seat</h4>
  </div>
  <!-- <div class="exit exit--front fuselage">
    
  </div> -->

  <div class="deck"><b>Lower Deck</b></div>
  <ol class="fuselage">
    
    <li class="row0" style="float: left; transform: rotate(270deg);"><img class="steer" src="../../assets/images/steering.png"></li>
    <!-- <li class="row1">&nbsp;</li>
    <li class="row1">&nbsp;</li> -->

    <li class="row1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="L3" />
          <label for="L3">L 3</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L6" />
          <label for="L6">L 6</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L9" />
          <label for="L9">L 9</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L12" />
          <label for="L12">L 12</label>
        </li>
        <!-- <li class="seat">
          <input type="checkbox" id="1E" />
          <label for="1E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="1F" />
          <label for="1F">1F</label>
        </li> -->
      </ol>
    </li>
    <li class="row2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="L2" />
          <label for="L2">L 2</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L5" />
          <label for="L5">L 5</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L8" />
          <label for="L8">L 8</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L11" />
          <label for="L11">L 11</label>
        </li>
        <span class="seat horizontal">
          <input type="checkbox" id="L14" />
          <label for="L14">L 14</label>
        </span>
        <!-- <li class="seat">
          <input type="checkbox" id="2F" />
          <label for="2F">2F</label>
        </li> -->
      </ol>
    
    </li>
  
    <li class="row3">
      <ol class="seats1" type="A">
        <li class="seat1">
          <!-- <input type="checkbox" id="3A" /> -->
          <!-- <label for="3A">3A</label> -->
        </li>
        <li class="seat">
          <!-- <input type="checkbox" id="3B" />
          <label for="3B">3B</label> -->
        </li>
        <li class="seat">
          <!-- <input type="checkbox" id="3C" />
          <label for="3C">3C</label> -->
        </li>
        <li class="seat">
          <!-- <input type="checkbox" id="3D" />
          <label for="3D">3D</label> -->
        </li>
        <!-- <li class="seat">
          <input type="checkbox" id="3E" />
          <label for="3E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="3F" />
          <label for="3F">3F</label>
        </li> -->
      </ol>
    </li>
    <li class="row4">
     
      <ol class="seats" type="A">
        <!-- <li class="exit"></li> -->
        <li class="seat">
          <input type="checkbox" id="L1" />
          <label for="L1">L 1</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L4" />
          <label for="L4">L 4</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L7" />
          <label for="L7">L 7</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="L10" />
          <label for="L10">L 10</label>
        </li> 
        <!-- <li class="exit"></li> -->
        <li class="seat horizontal">
          <input type="checkbox" id="L13" />
          <label for="L13">L 13</label>
        </li>
      </ol>
      </li>
    </ol>
    <!-- <div class="exit exit--back fuselage">
      
    </div> -->
  </div>


  <div class="plane">
    <div class="cockpit align">
      <!-- <h4 style="text-align: center; color: aliceblue;">Please select a seat</h4> -->
    </div>
    <!-- <div class="exit exit--front fuselage">
      
    </div> -->
    <div class="deck"><b>Upper Deck</b></div>
    <ol class="fuselage">
      <li class="row0" style="float: left; transform: rotate(270deg);"><img class="steer" src="../../assets/images/steering.png"></li>
      <!-- <li class="row1">&nbsp;</li>
      <li class="row1">&nbsp;</li> -->
  
      <li class="row1">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="U3" />
            <label for="U3">U 3</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U6" />
            <label for="U6">U 6</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U9" />
            <label for="U9">U 9</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U12" />
            <label for="U12">U 12</label>
          </li>
          <!-- <li class="seat">
            <input type="checkbox" id="1E" />
            <label for="1E">1E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1F" />
            <label for="1F">1F</label>
          </li> -->
        </ol>
      </li>
      <li class="row2">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="U2" />
            <label for="U2">U 2</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U5" />
            <label for="U5">U 5</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U8" />
            <label for="U8">U 8</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U11" />
            <label for="U11">U 11</label>
          </li>
          <span class="seat horizontal">
            <input type="checkbox" id="U14" />
            <label for="U14">U 14</label>
          </span>
          <!-- <li class="seat">
            <input type="checkbox" id="2F" />
            <label for="2F">2F</label>
          </li> -->
        </ol>
      
      </li>
    
      <li class="row3">
        <ol class="seats1" type="A">
          <li class="seat1">
            <!-- <input type="checkbox" id="3A" /> -->
            <!-- <label for="3A">3A</label> -->
          </li>
          <li class="seat">
            <!-- <input type="checkbox" id="3B" />
            <label for="3B">3B</label> -->
          </li>
          <li class="seat">
            <!-- <input type="checkbox" id="3C" />
            <label for="3C">3C</label> -->
          </li>
          <li class="seat">
            <!-- <input type="checkbox" id="3D" />
            <label for="3D">3D</label> -->
          </li>
          <!-- <li class="seat">
            <input type="checkbox" id="3E" />
            <label for="3E">3E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3F" />
            <label for="3F">3F</label>
          </li> -->
        </ol>
      </li>
      <li class="row4">
       
        <ol class="seats" type="A">
          <!-- <li class="exit"></li> -->
          <li class="seat">
            <input type="checkbox" id="U1" />
            <label for="U1">U 1</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U4" />
            <label for="U4">U 4</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U7" />
            <label for="U7">U 7</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="U10" />
            <label for="U10">U 10</label>
          </li> 
          <!-- <li class="exit"></li> -->
          <li class="seat horizontal">
            <input type="checkbox" id="U13" />
            <label for="U13">U 13</label>
          </li>
        </ol>
        </li>
      </ol>
      <!-- <div class="exit exit--back fuselage">
        
      </div> -->
    </div>



  </div>
  </body>
       